body {
    background-color: #b9b9b9; /* Light grey background */
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif; /* Standard sans-serif font */
    color: #171717; /* Dark grey text */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2cf8; /* Dark background */
    padding: 1rem 2rem;
    border-bottom: 3px solid #4db8ff; /* Blue border */
    color: #fff; /* White text */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
    font-size: 28px; /* Font size */
    font-weight: bold; /* Bold font weight */
    color: #fff; /* Text color */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1.25px; /* Adjust letter spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transform and color effects */
}

.navbar-brand:hover {
    transform: scale(1.1); /* Scale effect on hover for depth */
    color: #f8f4cd; /* New color on hover */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

.nav-link {
    font-size: 15px; /* Font size */
    font-weight: 500; /* Normal font weight */
    color: #fff; /* Text color */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Adjust letter spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
    transition: transform 0.3s ease-in-out; /* Smooth transform effect */
    margin-right: 15px; /* Margin for spacing between links */
}

.nav-link:hover {
    transform: scale(1.1); /* Scale effect on hover for depth */
    color: #e6e09a; /* New color on hover */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Light border */
}

.navbar-toggler-icon {
    filter: invert(1); /* Make icon white */
}

.navbar-nav .nav-link {
    color: #fff; /* White text */
    padding: 0.5rem 1rem; /* Padding for better spacing */
}

.profile {
    margin-left: auto;
}

.profile a {
    border: 1px solid #4db8ff; /* Blue border */
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff; /* White text */
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    background-color: #1a1a1a; /* Dark background */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.profile a:hover {
    background-color: #4db8ff; /* Blue background */
    border-color: #1a1a1a; /* Dark border */
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.95); /* Light background with some transparency */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #4db8ff; /* Blue background */
    border-color: #0056b3; /* Darker blue border */
    color: #fff;
}

.sections {
    margin-top: 20px;
}

.nearest-btn {
    background-color: #2d8ecf; /* Blue background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.nearest-btn:hover {
    background-color: #0056b3; /* Darker blue background */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.Fsec {
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Darker grey border */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    margin-bottom: 20px;
    transition: box-shadow 0.3s; /* Smooth transition */
}

.Fsec:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.H h4 {
    margin-bottom: 10px;
    font-size: 1.5rem; /* Larger font size */
    font-weight: 700; /* Bold font weight */
    color: #171717; /* Dark grey text */
}

.H p {
    margin-bottom: 20px;
    font-size: 1rem; /* Standard font size */
    color: #333; /* Darker grey text */
}

.Fsec a {
    color: #4db8ff; /* Blue text */
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s; /* Smooth transition */
}

.Fsec a:hover {
    color: #0056b3; /* Darker blue text */
}

footer {
    background-color: #2c2c2cf8; /* Dark background */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center; /* Center align text */
}

.foot h1, .foot h2 {
    margin-bottom: 10px;
    font-size: 1.5rem; /* Larger font size */
    color: #fff; /* White text */
}

.foot p {
    margin-bottom: 20px;
    font-size: 1rem; /* Standard font size */
    color: #ccc; /* Lighter grey text */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form {
    color: #171717; /* Dark grey text */
    background-color: rgba(255, 255, 255, 0.95); /* Light background with some transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.Form .Entry, .Form .textA {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bbb; /* Darker grey border */
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.Form .Entry:hover, .Form .textA:hover {
    background-color: #e0f0ff; /* Light blue background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.Form button {
    border-color: #4db8ff;
    color: #fff;
    background-color: #2784c2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.Form button svg {
    margin-left: 6px;
}

.Form button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #4db8ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0.8;
    transition: opacity 0.3s, transform 0.3s; /* Smooth transitions */
}

#topBtn:hover {
    opacity: 1; /* Full opacity */
    transform: scale(1.1); /* Scale effect on hover for depth */
}

svg {
    vertical-align: middle;
}
#hovering-logo {
    position: fixed;
    top: 115px;
    right: 20px;
    width: 250px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#hovering-logo:hover {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
}



